.detail-info {

   &__pokemon {
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.38);
      background-color: #e1dad629;
      border-radius: 10px;
   }

   &__evolution {

      h1 {
         font-size: x-large;
      }

      .evo-container {
         align-self: center;
         padding: 10px;

         .dne {
            text-align: center;
            color: #ffffff92;
            padding: 0.5rem;
         }

         .evo-img {
            width: 100px;
            cursor: pointer;
         }

         .evo-name {
            border-radius: 5px;
            padding: 6px 10px;
            white-space: nowrap;
            line-height: normal;

            span {
               background-color: #000000c2;
               box-shadow: 0 20px 30px rgba(0, 0, 0, 0.655);
               transition: background-color 1s ease-in, width 1.5s ease-in-out;
               margin-top: 5px;
            }
         }
      }

      /* .arrow-container {
         align-self: center;
         text-align: center;
         flex-direction: column-reverse;
         display: flex;

         .evo-arrow {
            width : auto;
            height: 40px;
            margin: auto;
         }

      }

      .evo-desc {
         color: #ffffffe6;
         font-size: small;
      } */
   }
}

.details-card {

   &__types {
      display: flex;
      justify-content: center;
   }

   &__type {
      width: 38.4375%;
      margin: 0 10px;
      padding: 5px;
      border-radius: 34px;
      line-height: 18px;
      letter-spacing: 0.4px;
      font-size: 12px;
      text-align: center;
      text-transform: capitalize;

      &--grass {
         background: #5fbd58;
         box-shadow: 0 0 20px #5fbd58;
      }

      &--normal {
         background: #a0a29f;
         box-shadow: 0 0 20px #a0a29f;
      }

      &--fighting {
         background: #d3425f;
         box-shadow: 0 0 20px #d3425f;
      }

      &--flying {
         background: #a1bbec;
         box-shadow: 0 0 20px #a1bbec;
      }

      &--ground {
         background: #da7c4d;
         box-shadow: 0 0 20px #da7c4d;
      }

      &--poison {
         background: #b763cf;
         box-shadow: 0 0 20px #b763cf;
      }

      &--rock {
         background: #c9bb8a;
         box-shadow: 0 0 20px #c9bb8a;
      }

      &--bug {
         background: #92bc2c;
         box-shadow: 0 0 20px #92bc2c;
      }

      &--ghost {
         background: #70559B;
         box-shadow: 0 0 20px #70559B;
      }

      &--steel {
         background: #5695a3;
         box-shadow: 0 0 20px #5695a3;
      }

      &--fire {
         background: #fba54c;
         box-shadow: 0 0 20px #fba54c;
      }

      &--water {
         background: #6493EB;
         box-shadow: 0 0 20px #6493EB;
      }

      &--electric {
         background: #f2d94e;
         box-shadow: 0 0 20px #f2d94e;
      }

      &--psychic {
         background: #FB5584;
         box-shadow: 0 0 20px #FB5584;
      }

      &--ice {
         background: #9AD6DF;
         box-shadow: 0 0 20px #9AD6DF;
      }

      &--dragon {
         background: #0c69c8;
         box-shadow: 0 0 20px #0c69c8;
      }

      &--dark {
         background: #595761;
         box-shadow: 0 0 20px #595761;
      }

      &--fairy {
         background: #ee90e6;
         box-shadow: 0 0 20px #ee90e6;
      }
   }

   &__about {
      display: flex;
      justify-content: space-around;

      &--info {
         width: 35%;
         letter-spacing: 0.4px;
         font-size: 16px;
         text-align: center;

         span {
            font-size: 15px;
            font-weight: 100;
         }
      }
   }

   &__stats {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
   }
}

.bg-details {
   text-transform: capitalize;
}

.br-table {
   white-space: nowrap;
   border-right: 1px solid #ffffff31;
}


.progress {
   background-color: #e9ecef6b !important;
   width: 250px;
   height: 22px;

   span {
      text-align: right;
      padding-right : 6px;
      font-size: 16px;
      letter-spacing: 0.5px;
   }
}

@media (max-width: 576px) {

   .progress {
      width: 180px;
   }

   .details-card {
      margin-top: -8px;

      &__about {

         &--info {
            font-size: 12px;

            span {
               font-size: 10px;
            }
         }
      }
   }

}

/* @media (max-width: 768px) {

   .evo-arrow {
      transform: rotate(90deg);
      padding: 10px;
   }

   .evo-desc {
      font-size: x-small;
   }
} */