<div class="top-0 start-0">
    <a class="btn btn-lg text-white" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
    </a>
</div>

<main class="container detail-info">
    <section class="detail-info__pokemon">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 text-center">
                    <img src="{{ links }}150.png" alt="NOMBRE" class="img-fluid mx-auto" style="width: 400px;">
                </div>

                <div class="details-card col-sm-6">
                    <div class="bg-details">
                        <h1 class="text-center">Mewtwo</h1>

                        <div class="details-card__types mb-3">
                            <div class="details-card__type details-card__type--grass">
                                <!-- *ngFor="let type of pokemon?.status?.types" [class]="'pokemon-info__type--' + type.type.name" -->
                                <p>
                                    <img alt="" class="img-fluid" src="assets/type-icons/grass.png" style="width: 15%;">
                                    Grass
                                </p>
                            </div>
                            <div class="details-card__type details-card__type--poison">
                                <!-- *ngFor="let type of pokemon?.status?.types" [class]="'pokemon-info__type--' + type.type.name" -->
                                <p>
                                    <img alt="" class="img-fluid" src="assets/type-icons/poison.png"
                                        style="width: 15%;">
                                    Poison
                                </p>
                            </div>
                        </div>

                        <div class="details-card__about mb-3">
                            <div class="details-card__about--info">
                                <div class="mt-2 mb-2">
                                    <p>
                                        <img class="img-fluid mr-1" src="assets/icon/weight.svg" alt="weight"
                                            style="width: 15px;">
                                        1220 kg
                                    </p>
                                </div>
                                <div>
                                    <span>Weight</span>
                                </div>
                            </div>
                            <div class="details-card__about--info">
                                <div class="mt-2 mb-2">
                                    <p>
                                        <img class="img-fluid mr-1" src="assets/icon/height.svg" alt="height"
                                            style="width: 10px;">
                                        20 m
                                    </p>
                                </div>
                                <div>
                                    <span>Height</span>
                                </div>
                            </div>
                            <div class="details-card__about--info">
                                <div class="mt-2 mb-2">
                                    <p>
                                        <img class="img-fluid mr-1" src="assets/icon/exp.svg" alt="height"
                                            style="width: 18px;">
                                        340 exp
                                    </p>
                                </div>
                                <div>
                                    <span>Experience</span>
                                </div>
                            </div>
                        </div>

                        <div class="details-card__stats">
                            <div class="inner">
                                <table class="table table-borderless text-white">
                                    <tr>
                                        <th colspan="3" class="text-center">
                                            <h5>Base Stats</h5>
                                        </th>
                                    </tr>
    
                                    <!-- [ngClass]="pokemon.color" [ngStyle]="{'width': stats[0]}"
                                        [ngClass]="pokemon.color" [ngStyle]="{'width': stats[1]}"
                                        [ngClass]="pokemon.color" [ngStyle]="{'width': stats[2]}"
        
                                        {{statsToShow[2]}} -->
                                    <tr>
                                        <td class="text-right" style="white-space: nowrap;">HP</td>
                                        <td colspan="3">
                                            <div class="progress" style="height: 20px">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm"
                                                    role="progressbar" aria-valuenow="" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    <span>10</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
    
    
                                    <tr>
                                        <td class="text-right" style="white-space: nowrap;">Attack</td>
                                        <td colspan="3">
                                            <div class="progress" style="height: 20px">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm"
                                                    role="progressbar" aria-valuenow="" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    <span>20</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" style="white-space: nowrap;">Defence</td>
                                        <td colspan="3">
                                            <div class="progress" style="height: 20px">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm"
                                                    role="progressbar" aria-valuenow="" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    <span>30</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" style="white-space: nowrap;">Sp. Attack
                                        </td>
                                        <td colspan="3">
                                            <div class="progress" style="height: 20px">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm"
                                                    role="progressbar" aria-valuenow="" aria-valuemin="0"
                                                    aria-valuemax="100" style="width: 100px;">
                                                    <span>40</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" style="white-space:nowrap;">Sp. Defence
                                        </td>
                                        <td colspan="3">
                                            <div class="progress" style="height: 20px">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm"
                                                    role="progressbar" aria-valuenow="" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    <span>10</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" style="white-space:nowrap;">Speed</td>
                                        <td colspan="3">
                                            <div class="progress" style="height: 20px">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm"
                                                    role="progressbar" aria-valuenow="" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    <span>50</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    </section>
    <section class="detail-info__evolution mt-4 mb-2">
        <h1 class="text-center text-uppercase">Evolution Chain</h1>
    </section>

    <div class="row justify-content-center"></div>
</main>