.slide-toggle {
    display: inline-block;
    height: 24px;
    max-width: 100%;
    line-height: 24px;
    white-space: nowrap;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fbbf24;
  border-color: #fbbf24;
}

.custom-control-input ~ .custom-control-label::before {
  background-color: #38bdf8;
  border-color: #38bdf8;
}
